#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
}
.inputContainer {
  flex: 1;
}


.header {
  background-color: rgb(89, 129, 161);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
