#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
}
.inputContainer {
  flex: 1;
}
.outputContainer {
  flex: 2;
  border: 2px solid black;
  height: 1445px;
}

.header {
  background-color: rgb(89, 129, 161);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
